#mainProgressBar{
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

#mainContainer{
	display: none;
}

#sideNav{
	float: left;
	width: 10%;
	height: 100vh;
	background-color: rgb(10, 10, 10);
}

#contentContainer{
	float: left;
	width: 90%;
	height: 100vh;
}

#logoNavContainer{
	height: 10%;
}

#actionableNavContainer{
	height: 70%;
}

#settingsNavContainer{
	height: 20%;
}

#appName{
	font-size: 1.8em;
	font-weight: bold;
	color: white;
}

#logoNavContainer div {
	text-align: center;
}

.navContainer{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.navItemContainer{
	width: 90px;
	text-align: center;
	margin: 0 auto;
	border-radius: 42px;
	padding: 24px 16px;
}

.spacer16px{
	height: 16px;
}

.navItemContainer p{
	margin-top: 8px;
	color: white;
}

.navItemContainer:hover, .activeSideNavTab{
	cursor: pointer;
	background-color: rgb(20, 20, 20);
}

#displayContainer{
	display: none;
	background-color: rgb(32, 32, 32);
	height: 100%;
	width: 100%;
}

#contentProgressBar{
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	text-align: center;
}

.menuContainer{
	display: none;
	color: white;
}

.menuContainer:nth-child(3){
	display: none;
}

.menuSideNav{
	float: left;
	width: 30%;
	height: 100vh;
	background-color: rgb(32, 32, 32);
}

.menuInfo{
	float: left;
	width: 70%;
	height: 100vh;
	background-color: rgb(20, 20, 20);
}

#closeGRingModalButton{
	margin-top: 32px;
	width: 100%;
	padding: 16px;
	background-color: blue;
	color: white;
	border: 0;
	border-radius: 4px;
	letter-spacing: 2px;
}

#closeGRingModalButton:hover{
	cursor: pointer;
	background-color: rgb(0, 0, 200);
}

.searchContainer{
	height: 10%;
	padding: 0 16px;
}

.listContainer{
	height: 90%;
	overflow: auto;
}

.searchInput{
	width: 100%;
	border: 0;
	border-bottom: 1px solid rgb(64, 64, 64);
	background-color: transparent;
	color: white;
	font-size: 1.2em;
	padding: 8px 16px;
}

.searchInput:focus{
	border-bottom: 1px solid blue;
}

.listItem {
	width: 100%;
	padding: 16px;
}

.listItem:hover, .listItem:nth-child(3){
	cursor: pointer;
	background-color: rgb(20, 20, 20);
}

.listItemDummy{
	width: 0;
	height: 60px;
	background-color: blue;
	visibility: hidden;
}

.imgListItemSection{
	float: left;
}

.imgListItemSection img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.infoListItemSection{
	float: left;
	width: calc(100% - 60px);
	height: 60px;
	padding-left: 16px;
	font-size: 1.2em;
}

.descListItemSection{
	float: left;
	width: 90%;
	padding-right: 16px;
	/*background-color: yellow;*/
}

.iconListItemSection{
	float: left;
	width: 10%;
	/*background-color: orange;*/
}

.descListItemSection div p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listItemUnread{
	color: cyan;
}

/* .listItemName{

} */

.listItemDesc{
	color: gray;
	margin-top: 8px;
}

.listItemInlineUsername{
	color: gray;
}

.listItemPhone:hover{
	content: url("../images/icons/ic_phone_hover.png");
}

.menuInfoNavContainer{
	height: 10%;
	padding: 0 16px;
}

.menuInfoNavContainer p{
	font-size: 1.8em;
	font-weight: bold;
	color: white;
}

.menuInfoContentContainer{
	height: 90%;
}

.menuInfoContentCallContactContainer, .menuInfoContentAddContactContainer{
	height: 100%;
	padding: 0 16px;
}

.menuInfoContentAddContactContainer{
	display: none;
}

.contactMenuInfoContactInfoContainer{
	display: block;
}

.menuInfoContactInfoContainer{
	height: 100%;
	padding: 16px;
	overflow: auto;
}

.center{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.dialerContainer{
	width: 60%;
	text-align: center;
	margin: 0 auto;
	padding-top: 150px;
}

.dialerContainer input{
	font-size: 1.8em;
	text-align: center;
	border: 0;
}

.dialerContainer input:focus{
	border: 0;
}

.dialerButtonContainer{
	margin-top: 64px;
}

.dialerButton{
	border: 0;
	border-radius: 8px;
	padding: 16px 32px;
	font-size: 1.3em;
	color: white;
	background-color: blue;
}

.dialerButton:hover{
	cursor: pointer;
	background-color: rgb(0, 0, 200);
}

.errorMessage{
	display: none;
	color: red;
	text-align: center;
}

.menuInfoContentDisplay{
	display: block;
	height: 100%;
}

.menuInfoEmptyDisplay{
	display: none;
	height: 100%;
}

.menuInfoContactProfilePicContainer{
	width: 100%;
}

.profilePicCol{
	width: 80%;
}

.actionsCol{
	width: 20%;
	text-align: right;
}

.actionsCol img{
	width: 64px;
	height: 64px;
	border-radius: 32px;
}

.actionsCol img:nth-child(1){
	margin-right: 16px;
}

.actionsCol img:nth-child(1):hover{
	cursor: pointer;
	content: url("../images/icons/ic_video_call_circle_hover.png");
}

.actionsCol img:nth-child(2):hover{
	cursor: pointer;
	content: url("../images/icons/ic_phone_circle_hover.png");
}

.menuInfoContactProfilePic{
	width: 128px;
	height: 128px;
	border-radius: 64px;
}

.menuInfoContactDisplayName{
	margin-top: 16px;
	font-weight: bold;
	font-size: 1.6em;
	color: white;
}

.menuInfoContactUsername{
	margin-top: 8px;
	font-size: 1.3em;
	color: gray;
}

.menuInfoContactDescription{
	margin-top: 16px;
	font-size: 1.3em;
	color: white;
}

.menuInfoContactHistoryHeader{
	margin-top: 32px;
}

.historyListItem{
	width: 100%;
	font-size: 1.2em;
	padding: 16px 0;
}

.historyActionIcon{
	width: 32px;
	height: 32px;
	border-radius: 16px;
	margin-right: 16px;
	vertical-align: middle;
}

.historyDescCol{
	width: 100%;
}

.historyDescCol p{
	padding-right: 16px;
}

.historyActionIconCol{
	width: 0%;
}

.historyDelIconCol{
	width: 0%;
	text-align: right;
}

.historyDelIcon{
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.historyDelIcon:hover{
	cursor: pointer;
	content: url("../images/icons/ic_delete_hover.png");
}